<style type="text/css" rel="stylesheet">
    table.caledar thead th {
        text-align: center;
    }
    table.calendar tbody tr td  {
        color: lightgray;
    }
    table.calendar tbody tr a  {
        color: black;
        text-decoration: none;
    }
    table.calendar tbody tr td a:hover {
        background-color: black;
        color: white;
        text-decoration: none;
    }
</style>
<table class="calendar">
    <thead>
        <th colspan="7">July 2025</th>
    </thead>
    <tr>
        <td>29</td>
        <td>30</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
    </tr>
    <tr>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
        <td>11</td>
        <td><a href="commentary/july-12">12</a></td>
    </tr>
    <tr>
        <td><a href="commentary/july-13">13</a></td>
        <td>14</td>
        <td>15</td>
        <td>16</td>
        <td>17</td>
        <td>18</td>
        <td><a href="commentary/july-19">19</a></td>
    </tr>
    <tr>
        <td><a href="commentary/july-20">20</a></td>
        <td><a href="commentary/july-21">21</a></td>
        <td><a href="commentary/july-22">22</a></td>
        <td><a href="commentary/july-23">23</a></td>
        <td><a href="commentary/july-24">24</a></td>
        <td><a href="commentary/july-25">25</a></td>
        <td>26</td>
    </tr>
    <tr>
        <td>27</td>
        <td>28</td>
        <td>29</td>
        <td>30</td>
        <td>31</td>
        <td>1</td>
        <td>2</td>
    </tr>
</table>