<style type="text/css" rel="stylesheet">
    div.daily-description {
        margin-bottom: 2em;
    }
    @media  screen and (min-width: 80em) {
        div.daily-description {
            position: absolute;
            right: -525px;
            width: 75%;
        }
        span.desc-span {
            text-align: right;
            width: 60px;
        }
    }
</style>
<div class="daily-description">
    <span class="desc-span"><b>Start</b></span>: {{ dayrow["Start"] }}
    <br /><span class="desc-span"><b>End</b></span>: {{ dayrow["End"] }}
    <br /><span class="desc-span"><b>Route (km)</b></span>: {{ dayrow["Route"] }}
    <br /><span class="desc-span"><b>Total (km)</b></span>: {{ cumulative }}
    <br /><span class="desc-span"><b>Actual (km)</b></span>: {{ dayrow["Actual"] }}
    <br /><span class="desc-span"><b>Hours</b></span>: {{ dayrow["Hours"] }}
    <br /><span class="desc-span"><b>Total (hrs)</b></span>: {{ cumulative_hours }}
</div>