<style type="text/css" rel="stylesheet">
    div.media-month {
        display: inline-block;
        margin: 1em;
        opacity: 0.5;
        text-align: center;
        width: 40%;
    }
    div.media-month:hover {
        opacity: 1;
    }
    div.media-month a {
        display: block;
        text-decoration: none;
    }
    div.media-month a:hover{
        text-decoration: underline;
    }
    div.media-month img {
        height: 10em;
        object-fit: cover;
        width: 100%;
    }
    @media (max-width: 37.5em) {
        div.media-month {
            display: block;
            font-size: 2em;
            margin: 1em 0;
            width: 100%;
        }
    }
</style>
<div class="media-month">
    <a href="january">
        <img src="/assets/images/exploration/eastern-continental-trail/january/small/1-2.jpg" >
        January
    </a>
</div>
<div class="media-month">
    <a href="february">
        <img src="/assets/images/exploration/eastern-continental-trail/february/small/25-1.jpg" >
        February
    </a>
</div>
<div class="media-month">
    <a href="march">
        <img src="/assets/images/exploration/eastern-continental-trail/march/small/20-5.jpg" >
        March
    </a>
</div>
<div class="media-month">
    <a href="april">
        <img src="/assets/images/exploration/eastern-continental-trail/april/small/2-2.jpg" >
        April
    </a>
</div>
<div class="media-month">
    <a href="may">
        <img src="/assets/images/exploration/eastern-continental-trail/may/small/16-4.jpg" >
        May
    </a>
</div>
<div class="media-month">
    <a href="june">
        <img src="/assets/images/exploration/eastern-continental-trail/june/small/20-5.jpg" >
        June
    </a>
</div>
<div class="media-month">
    <a href="july">
        <img src="/assets/images/exploration/eastern-continental-trail/july/small/25-11.jpg" >
        July
    </a>
</div>
<div class="media-month">
    <a href="august">
        <img src="/assets/images/exploration/eastern-continental-trail/august/small/26-1.jpg" >
        August
    </a>
</div>
